[submodule "irix-ip54"]
	path = irix-ip54
	url = ./irix-ip54
[submodule "qemu-sgi-repo"]
	path = qemu-sgi-repo
	url = ./qemu-sgi-repo
[submodule "prom-building"]
	path = prom-building
	url = ./prom-building
